body {
    margin: 0;
    padding: 0;
    font-size: 16pt;
    font-family: 'Source Sans Pro', sans-serif;
}


footer {
    background-color: #4e4c4c;
    color: white;
    text-align: center;
    height: 50px;
    font-weight: 100;
    font-size: 12pt;
    line-height: 1.2;
    padding-top: 1em;
}

/* home page css */
#name {
    /* https://www.wallpaperflare.com/landscape-photography-of-gray-concrete-ground-closeup-photo-of-field-with-blue-sky-wallpaper-zcrxp */
    /* https://stackoverflow.com/questions/31632419/how-to-darken-a-css-background-image/31632494 */
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/salar.jpeg');
    -webkit-background-size: cover;

    background-color: rgb(2, 2, 71);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;

}

#name > h1 {
    color: white;
    font-size: 1.5em;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 30px;
    border-top: solid 3px;
}

#name > h2 {
    color: white;
    font-weight: 100;
    padding-bottom: 30px;
    border-bottom: solid 3px;
}

#name > a {
    color: white;
    font-weight: 200;
    margin-top: 40px;
    font-size: 0.8em;
    border: solid 1px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(233, 113, 129, 0.7);
}

#name > a:link {
    text-decoration: none;
}


.nav_links {
    background-color: #4e4c4c;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.nav_item > a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: 300;
    font-size: 0.9em;
}

.nav_item > a:hover {
    background-color: rgba(233, 113, 129, 0.8);
    border-radius: 2px;
}

a:active {
    color: black;
}

/* show active link */
nav ul li a.active_page {
    background-color:rgba(233, 113, 129, 0.8);
    border-radius:2px;
    border: 2px solid white;
}

/* portfolio CSS */
.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px 1px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

.grid > div {
    height: 2em;
    /* width: 50vh; */
    background-color: rgba(255, 227, 230, 0.7);
    text-align: center;
    padding: 3.5em;
    position: relative;
    border-radius: 8px;
    margin-bottom: 15px;
}


.grid > div > img {
    grid-column: 1 / span 1;
    height: 5em;
    position:absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translatey(-30%)

}

.project-text > p {
    color: black;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;

    font-size: 1em;
    padding: 11px;
    transform: translatey(-30%)
}

#portfolio, #about, #contact {
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../images/salar.jpeg');
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    /* change background color for backup */
    background-color: rgb(4, 3, 102);
}

#portfolio > h1, #about > h1, #contact > h1 {
    color: white;
    padding: 10px;
}


*:focus{
    border: 3px solid black;
}

/* contact page css */
#contact {
    height: 100vh;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.form > div {
    padding: 10px;
}

.btn {
    padding: 7px 10px;
    background-color: rgba(233, 113, 129, 0.7);
    color: white;
    font-weight: 200;
    border: none;
    border-radius: 8px;
    margin-top:3px;
}

.form-control {
    padding: 11px;
    border-radius: 5px;
}

.form-control::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
}

label {
    display:inline-block;
    padding-bottom: 10px;
    color: white;
    font-size: 0.8em;
}

.contact-logo  {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly; 
    align-items: center;
    max-height: 200px;
    margin-top: 2em;

    background-color: rgb(255, 255, 255, 0.2);
}

.contact-logo > a > img {
    max-width: 3.8em;
    max-height: 160px;
    padding: 1em;
    filter: invert(100%);
    opacity: 1.0;
}

/* about page css */
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180vh;
}

#about > h1 {
    margin-top: 10px;
}

#bio-text {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
    max-width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 1.7;
    font-weight: 300;
    border: 1px solid;
    border-radius: 8px;
}

.img-container {
    display: flex;
    padding-bottom: 2em;
    padding-top: 2em;
    filter:sepia(0.5);
    justify-content:center;
}

.img-container > img {
    max-width: 100%;
    max-height: 250px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}

#about > div > a > p {
    color: white;
    max-width: 100px;
    font-weight: 200;

    font-size: 0.8em;
    border: solid 1px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(233, 113, 129, 0.7);
}

#about > div > a:link {
    text-decoration: none;
}

/* skip to content CSS */
.skip a {
    background: rgb(240, 224, 224);
    left: 0;
    padding: 10px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -50px;
    font-size: 15px;
}

.skip a:focus{
    top:10px; 
  }

  /* hide buttons when screen is smaller */
.project-btn {
    display:none;
}

/* media query for iPad view */
@media screen and (min-width: 600px){
    /* make nav menu go to the right, give 'em space */
    .nav_links {
        justify-content:flex-end;
    }
    .nav_links > li {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* for index.html */
    /* make name size a bit bigger */
    #name > h1{
        font-size: 2.2em;
    }
    #name > h2 {
        font-size:1.1em;
    }

    /* for portfolio.html */
    /* make grid divs wider to fit the screen */
    .grid > div {
        width: 20vw;
        background-color: rgba(255, 227, 230, 0.7);
    }

    /* for about.html */
    /* limit width of the text div */
    #bio-text {
        max-width: 40vw;
        font-size: 0.9em;
    }

    /* about is big in small screens, let's use vh to make it smaller */
    #about {
        height: 125vh;
    }

    /* show buttons inside project text divs in larger screens */
    .project-btn {
        display: inline-block;
    
        color: black;
        font-weight: 300;
        font-size: 0.8em;
        background-color: rgba(233, 113, 129, 0.8);
        padding: 10px;
        border-radius: 8px;
        margin-top: 60px;
        box-shadow: -3px -3px pink, -2px 2px pink, -1px 1px pink;
        border: 1px;
    }
    
    .project-btn:hover {
        font-size: 1.2em;
        transition: all 2s ease;
    }

    /* make form bit larger for the viewport */
    label {
        font-size: 1em;
    }
    .btn {
        font-size: 0.8em;
    }

}

@media screen and (prefers-reduced-motion){
    html{
        scroll-behavior: auto; 
    }
    
    /* project buttons have a slight transition, remove */
    .project-btn:hover {
        font-size: 0.8em;
        transition: none;
    }
  }